#map {
    width: 100%;
    height: 500px;
  }

.button-container{
  margin-top: 10px;
}

button.search-button{
  color: white;
  background-color: #673ab7;
}

button.search-button:hover{
  color: black;
  background-color: white;
}

.spinner-container mat-spinner{
  width: 30px !important;
  height: 30px !important;
}